{% extends "layout.html" %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="static\javascript\integrate.js"></script>

<div class="wrapper">
	<nav class="sidenav" id="sidebar">
	<ul>
		<li class="active">
		<li id="home"><a href="#">Home</a></li>
		</li>
		<li id="grp"><a href="#">Create Group</a></li>
		<li id="calender"><a href="#">View Calender</a></li>
	</ul> 
	</nav>

	<div id= "content1" class="contentSection">
		<h2>Course</h2>
	</div>
	<div id= "content2" class="contentSection" style="display: none;">
		<h2>Group Details</h2>
		<button class="accordion">Create Group</button>
		<div class="panel">
  			<div id ="form_panel">
  				<form id ="surveyform">
  				<p>Select your preference:</p>
  				<select name = "range" id ="preference-dropdown">
  					<option value ="0">0</option>
  					<option value ="1">1</option>
  					<option value ="2">2</option>
  					<option value ="3">3</option>
  				</select>
  				<p>Enter the URL:<br></p>	
  				   <input type="url" name="file-path" id="file-location" required>
  				   <input type ="submit" id="parse-input">
  				   <input type="reset" id="reset-button"><br>
  				</form>	
  			</div>
		</div>

		<button class="accordion">Edit Group Information</button>
		<div class="panel">
		</div>

	</div>

</div>

 {% endblock content %}
