{% extends "layout.html" %}
{% block content %}
<h2>Manage Groups</h2>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="create-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="home" aria-selected="true">Create Groups</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="edit-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="profile" aria-selected="false">Edit Groups</a>
  </li>
 </ul>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane show active" id="tab1" role="tabpanel" aria-labelledby="nav-home-tab">
  	
                        <div id="grp-info">
                        	<form id="form1" action="javascript:postgrouppref();>
							    <div class="form-group">
							      <br>
							      <label for="sel1">Select preferences (select one):</label>
							      <select class="form-control form-control-sm" id="sel1" name="pref" required="required">
							        <option>0</option>
							        <option>1</option>
							        <option>2</option>
							        <option>3</option>
							      </select>
							      <br>
							      <label for="sel1">Select avoidances (select one):</label>
							      <select class="form-control form-control-sm" id="sel2" name="avoid" required="required">
							        <option>0</option>
							        <option>1</option>
							        <option>2</option>
							        <option>3</option>
							      </select>
							      <br>
							      <label for="number">Group Size:</label>
  								  <input type="number" name="group" class="form-control form-control-sm" id="size" required>
  								  <br>
  								  <label for="number">Enter the sheet URL:</label>
  								  <input type="URL" name="file" class="form-control form-control-sm" id="size" required>
							    </div>
							   	<div id="submit-div">
							   		<button id="trigger-group" type="submit" class="btn btn-primary mb-2" onclick=
							   		"window.location.href='{{ url_for('group')}}'">Submit</button>
							   	</div>
							</form>
						</div>
  

  </div>
	  <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="nav-profile-tab">
  			<div id="container">
  				<div id="table-container">
  					<table class="table table-bordered" id="grp-table" style="width: 100%">
  					<thead class="thead-light">
			            <tr>
			                <th data-field="Full Name">Name</th>
			                <th data-field="Asurite">Asurite</th>
			                <th data-field="Github">Github</th>
			                <th data-field="EmailID">EmailID</th>
			                <th data-field="Preferences">Prefrences</th>
			                <th data-field="Avoidance">Avoidance</th>
			                <th data-field="TimeZone">Time Zone</th>
			                <th data-field="TimePreference">TimePreference</th>
			                <th data-field="GithubKnowledge">GithubKnowledge</th>
			                <th data-field="ScrumKnowledge">ScrumKnowledge</th>
			                <th data-field="Comments">Comments</th>
			                <th data-field="Group Name">Group Name</th>

			            </tr>
		        	</thead>
		  					
  				</table>
  				</div>
  			</div>
  		</div>
    

<script type="text/javascript">
	

function postgrouppref(){
  var pref = document.getElementById("sel1").value;
  var avoid = document.getElementById("sel2").value;
  var group_size = document.getElementById("size").value;
  var file = document.getElementById("file").value;
  url ="/group?"+"pref="+pref+"&avoid="+avoid+"&group="+group_size+"&file="+file;
  sendRequestWithCallback(url, null, true, callbackfn);
  //document.getElementById("content").value="";
}

  function callbackfn(response){
    alert(response)
}

function sendRequestWithCallback(action, params, async, callback) {
    var objHTTP = xhr();
    objHTTP.open('GET', action, async);
    objHTTP.setRequestHeader('Content-Type','application/x-www-form-urlencoded;charset=UTF-8');
    if(async){
  objHTTP.onreadystatechange=function() {
      if(objHTTP.readyState==4) {
    if(callback) {
        callback(objHTTP.responseText);
    }
      }
  };
    }
    objHTTP.send(params);
    if(!async) {
  if(callback) {
            callback(objHTTP.responseText);
        }
    }
} 
function xhr() {
    var xmlhttp;
    if (window.XMLHttpRequest) {
  xmlhttp=new XMLHttpRequest();
    }
    else if(window.ActiveXObject) {
  try {
      xmlhttp=new ActiveXObject("Msxml2.XMLHTTP");
  }
  catch(e) {
      xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
    }
    return xmlhttp;
}



</script>

{% endblock content %}
