{% extends "layout.html" %}
{% block content %}
<script type="text/javascript" src="static\javascript\integrate.js"></script>
<script type="text/javascript" src="static\javascript\group_page.js"></script>
<style>
  tr:hover {background-color:#6F9FD8;}
</style>
<h2>Manage Groups</h2>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="create-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="home" aria-selected="true">Create Groups</a>
  </li>
 </ul>
 <div id ="form-section" method="post">
  <form id="form1" action="javascript:postgrouppref()">
    <div class ="form-group">
      <br>
      <label for="sel1">Select preferences (select one):</label>
          <select class="form-control" id="sel1" required="required">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
        </select>
        <br>
        <label for="sel2">Select avoidances (select one):</label>
          <select class="form-control" id="sel2" required="required">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
        </select>
        <br>
        <label for="sel3">Select size(select one):</label>
          <select class="form-control" id="size" required="required">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        <br>
        <label for="sel4">Select Input Type (select one):</label>
          <select class="form-control" id="sel4" required="required">
            <option>Online</option>
            <option>On-Campus</option>
        </select>
        <br>
        <label for="file-path">Enter file URL:</label>
        <input type="URL" name="file" class="form-control form-control-sm" id="file" required>
        <br>
        <button type="submit" class="btn btn-primary mb-2" id ="create-grp">Create Groups</button>
    </div>
  </form>
</div>
  <div id ="new1" style="display: none;">
    <table id=table1 border="2" bgcolor="#F0EAD6"></table>
  </div>
  <div id ="new2" style="display: none;">
    <table id=table2 border="2" bgcolor="#F0EAD6"></table>
  </div>
  <div>
    <button id = "submitgroups" type="button" class="btn btn-primary" style="display: none;">Submit Groups</button>
  </div>
  <br>
  <div>
    <button id = "exportgroups" type="button" class="btn btn-primary" style="display: none;">Export Groups To CSV</button>
  </div>
  <div id="social-btns">
    <br>
    <div style="float: left; width: 30%;">
      <button id="slack-btn" type="submit" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#slackModal" style="display: none;">Slack</button>  
    </div>

    <div style="float: left; width: 30%;">
      <button id="taiga-btn" type="submit" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#taigaModal" style="display: none;">Taiga</button>
    </div>
    <div style="float: left; width: 30%;">
      <button id="github-btn" type="submit" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#githubModal" style="display: none;">Github</button>
    </div>
    <br style="clear: left;" /> 
  </div>


 <div class="modal fade" id="slackModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Slack Groups</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>Please enter the Slack Token</h6>
        <form id="form" method="post" name="form">
        <input id="slack_token" name="slack_token" type="text" required>
        <br>
        <br>
        <button type="button" class="btn btn-primary" id = "submit_slack">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="taigaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Taiga Channels</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="form" method="post" name="form">
        <h6>Taiga Username: </h6>
        <input id="username" name="username" type="text" required>
        <br>
        <br>
        <h6>Taiga Password: </h6>
        <input id="password" name="password" type="password" required>
        <br>
        <br>
        <h6>Taiga Project Description: </h6>
        <textarea id="description" name="description" required></textarea>
        <br>
        <br>
        <button type="button" class="btn btn-primary" id = "submit_taiga">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="githubModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Github Repositories</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>Please enter the Github Token</h6>
        <form id="form" method="post" name="form">
        <input id="github_token" name="github_token" type="text" required>
        <br>
        <br>
        <button type="button" class="btn btn-primary" id = "submit_github">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
{% endblock content %}
