{% extends "layout.html" %}
{% block content %}
<h2>Manage Groups</h2>
<section class="container py-4">
        <div class="row">
            <div class="col-md-12">
                <ul id="tabbedPane" class="nav nav-tabs">
                    <li class="nav-item"><a href="" data-target="#triggerGrouping" data-toggle="tab" class="nav-link small text-uppercase">Form Groups</a></li>
                    <li class="nav-item"><a href="" data-target="#profile1" data-toggle="tab" class="nav-link small text-uppercase active">Edit Group</a></li>
                </ul>
                <br>
                <div id="tabbedPaneContent" class="tab-content">
                    <div id="triggerGrouping" class="tab-pane fade ">
                        <div id="grp-info">
                        	<form id="form1" action="javascript:postgrouppref();">
							    <div class="form-group">
							      <label for="sel1">Select preferences (select one):</label>
							      <select class="form-control form-control-sm" id="sel1" name="pref" required="required">
							        <option>0</option>
							        <option>1</option>
							        <option>2</option>
							        <option>3</option>
							      </select>
							      <br>
							      <label for="sel1">Select avoidances (select one):</label>
							      <select class="form-control form-control-sm" id="sel2" name="avoid" required="required">
							        <option>0</option>
							        <option>1</option>
							        <option>2</option>
							        <option>3</option>
							      </select>
							      <br>
							      <label for="number">Group Size:</label>
  								  <input type="number" name="group" class="form-control form-control-sm" id="size" required>
  								  <br>
  								  <label for="number">Enter the sheet URL:</label>
  								  <input type="URL" name="file" class="form-control form-control-sm" id="file" required>
							    </div>
							   	<div id="submit-div">
							   		<button type="submit" class="btn btn-primary mb-2">Submit</button>
							   	</div>
							</form>
						</div>
                    </div>
                    <div id="profile1" class="tab-pane fade active show">
                        <h4>Edit Group</h4>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    

<script type="text/javascript">
	

function postgrouppref(){
  var pref = document.getElementById("sel1").value;
  var avoid = document.getElementById("sel2").value;
  var group_size = document.getElementById("size").value;
  var file = document.getElementById("file").value;
  url ="/group?"+"pref="+pref+"&avoid="+avoid+"&group="+group_size+"&file="+file;
  sendRequestWithCallback(url, null, true, callbackfn);
  //document.getElementById("content").value="";
}

  function callbackfn(response){
    alert(response)
}

function sendRequestWithCallback(action, params, async, callback) {
    var objHTTP = xhr();
    objHTTP.open('GET', action, async);
    objHTTP.setRequestHeader('Content-Type','application/x-www-form-urlencoded;charset=UTF-8');
    if(async){
  objHTTP.onreadystatechange=function() {
      if(objHTTP.readyState==4) {
    if(callback) {
        callback(objHTTP.responseText);
    }
      }
  };
    }
    objHTTP.send(params);
    if(!async) {
  if(callback) {
            callback(objHTTP.responseText);
        }
    }
} 
function xhr() {
    var xmlhttp;
    if (window.XMLHttpRequest) {
  xmlhttp=new XMLHttpRequest();
    }
    else if(window.ActiveXObject) {
  try {
      xmlhttp=new ActiveXObject("Msxml2.XMLHTTP");
  }
  catch(e) {
      xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
    }
    return xmlhttp;
}



</script>

{% endblock content %}
