{% extends "layout.html" %}
{% block content %}
  <h2>Courses</h2>
  <div class="row" style="overflow-x: scroll;">
    {%for course in courses%}
    <div class="card-view col-sm-3">
      <div style="min-height: 100px">
          <h3>{{course.id}}</h3>
          <h5>{{course.name}}</h5>
      </div>
      <form action="/send" method="GET">
        <textarea name="course_name" style="display:none">{{course.full_name}}</textarea>
        <button class="card-view-btn btn" type="submit">View Details</button>
      </form>
    </div>
    {%endfor%}
  </div>
{% endblock content %}
