{% extends "layout.html" %}
{% block content %}
    <h2>Courses</h2>
            {%for course in courses%}
            <div class="card-deck">
                    <div class="card border-dark mb-3">
                      <div class="card-body">
                        <form action="/send" method="POST">
                          <textarea name="course_name" class="card-title">{{course}}</textarea>
                          <input class ="btn" type="submit" value="View Course Details">
                        </form>

                      </div>
                    </div>
            </div>



            {%endfor%}


{% endblock content %}
