{% extends "layout.html" %}
{% block content %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	

	<h2 align="center">Welcome to Instructor Tool</h2>
    <div class="login-container">

		<div class ="login-elements">
				<h6>Please sign in using Google to access the tool</h6>
				<button type="button" class="btn btn-primary btn-lg" id="login-btn"
				onclick="window.location.href='/google';">Login using Google</button>
		</div>	
	</div> 

{% endblock content %}
