{% extends "layout.html" %}
{% block content %}
    <h2 align="center">Welcome to Instructor Tool</h2>
    <h4 align="center">Step - II</h4>

    <div class="token-container">
		<div class ="login-elements">
				<h6>Please enter the Canvas token to continue</h6>

				<form method="post">
  					<input size="40" type="text" name="token" required>
  					<br>
  					<button type="submit" class="btn btn-primary" id ="continue-btn">Continue</button>
				</form>

		</div>	
	</div> 

{% endblock content %}
