body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }


  .mt-2{
    margin: .5rem;
   }
   
  .card{
    max-width: 12rem;
    margin: 1.5rem;
    display: flex;             
    align-items: center;
    justify-content: center;
  }

  .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
  }
    
  /* .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  } */
    
  #page-content-wrapper {
  width: 100%;
  padding: 15px;
  }
  
  #page-content-wrapper {
  padding: 20px;
  }
    
.sidebar {
  list-style-type:none;
  background-color:#333;
  width:230px;
  height:100%;
  top:0;
  bottom:0;
  left:0;
  text-align:left;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  transition:1s ease;
}
  
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    }
    
    .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    }
    
    #page-content-wrapper {
    width: 100%;
    padding: 15px;
    }
    
    #page-content-wrapper {
    padding: 20px;
    }

.sidenav{
  height:auto;
  width: 20%;
  margin-left: -200px;
  }

.sidenav li{
  list-style-type: none;
  margin: 10px 0;
}
.sidenav ul li a{
  padding: 5px;
  font-size: 1.1em;
  display: block;
}

.sidenav ul li a:hover{
  background: #42f4e2;

}
.sidenav a{
  text-decoration: none;
  color: #412334;
  font-size: 16px;
  font-weight: bold;
}
.sidebar.active{
  margin-left: -250px;
}
.wrapper{
  
  width: 100%;
  margin-top: 5%;
}
@media (max-width: 768px) {
    .sidebar {
        margin-left: -250px;
    }
    .sidebar.active {
        margin-left: 0;
    }
}
.btns{
  border:2px solid black;
  border-color: #2196F3;
  color: blue
  width: 350px;
  height: 50px;
  margin-top:10px;
  margin-bottom: 10px;
  margin-right: 20px;
  display: inline-block;
}

#container {
  width:220px;
  margin:30px auto;
}
#buttoncontainer{
  margin-top: 50px;

}
.buttonLogin{
  size: 36px;
  
}
.contentSection{
  margin-left:1.5em;
}
input[type=file],select{
  width: 80%;
  padding: 12px 20px;
  margin: :8px 0;
  display: inline-block;
}
.active:after {
  content: "\2212";
}
.panel {
  padding: 0 18px;
  background-color: white;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
#form_panel{
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn-form{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  width: 200px;
  margin-top: 20px;
  margin-right: 20px;
}
.btn-form:disabled{
  background-color: #dddddd
}
.login-container{
  background-color: #EBF5FB;
  width: 400px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  border-style: groove;
  border-color: #EBF5FB;
  
}

#login-btn{
  width: 50%;
  margin-left:20%;
  margin-top: 10%;
  position: relative;
  
}
.login-elements{
  margin-top: 35px;
  margin-left:25px;
}
.token-container{
  background-color: #EBF5FB;
  width: 400px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  border-style: groove;
  border-color: #EBF5FB;
}
.form-group,#triggerGrouping{
  background-color: #fafafa;
}
#continue-btn{
	align-self: center;
	margin-top: 1.5em;
  width: 50%;
  margin-left:20%;
  margin-top: 10%;
  position: relative;
}

#container-2{
  margin-top: 8%
}
#btn-links{
  margin-top: 5%;
}
#btn-grp,#btn-cal{
  margin-top: 2%;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}