{% extends "layout.html" %}
{% block content %}
<!-- <div class="left">
	<ul class="sidebar">
	        <li><a href="#">Create group</a></li>
	        <li><a href="#">View Group</a></li>
	        <li><a href="#">View Calender</a></li>
	</ul>
</div> -->
	<div class="wrapper"> 
		<!--Sidebar-->
		<nav id="sidebar">
			<ul class="sidebar_items">
				<p>Course Actions</p>
				<ul class="first_item">
					<a href="#">Create Group</a>
				</ul>
				<ul >
					<a href="#">View Group</a>
				</ul>
				<ul>
					<a href="#">View Calender</a>
				</ul>
			</ul>
			
		</nav>

		<!--Page Content-->
		<div id = "content">
			<h1>Course Name</h1>
		</div>

	</div>
<!-- <div class="main">
    <h1>Course Name</h1>
</div>
 -->{% endblock content %}