{% extends "layout.html" %}
{% block content %}
<!-- <div class="left">
	<ul class="sidebar">
	        <li><a href="#">Create group</a></li>
	        <li><a href="#">View Group</a></li>
	        <li><a href="#">View Calender</a></li>
	</ul>
</div> -->
<!-- 	<div class="wrapper"> 
		<!--Sidebar-->
<!-- 		<nav id="sidebar">
			<ul class="sidebar_items">
				<p>Course Actions</p>
				<ul class="first_item">
					<a href="#">Create Group</a>
				</ul>
				<ul >
					<a href="#">View Group</a>
				</ul>
				<ul>
					<a href="#">View Calender</a>
				</ul>
			</ul>
			
		</nav>-->
<div class="wrapper">
	<nav class="sidenav" id="sidebar">
	<ul>
		<li class="active">
			<li><a href="#" onclick="showContent(event)">Home</a></li>
		</li>
		<li><a href="#">Create Group</a></li>
		<li><a href="#">View Calender</a></li>
	</ul> 
	</nav>

	<div class="content">
	  <h2>Course Page</h2>
	</div>
</div>

 {% endblock content %}