{% extends "layout.html" %}
{% block content %}
    <h2 align="center">Welcome to Instructor Tool</h2>
    <h4 align="center">Step - II</h4>

    <div class="token-container">
		<div class ="login-elements">
				<p>Please enter the Canvas token to continue</p>

				<form action="/action_page.php" method="post">
  					<input size="40" type="text" name="token" required>
  					<br>
  					<input id="continue-btn"type="submit" value="Continue">
				</form>

		</div>	
	</div> 

{% endblock content %}